@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
    @layer base {
  
      input[type='number']::-webkit-outer-spin-button,
      input[type='number']::-webkit-inner-spin-button,
      input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
      }

  :root {
    --background: #f9fafb;
    /* gray-50 */
    --foreground: #1f2937;
    /* gray-800 */
    --card: #f9fafb;
    /* gray-50 */
    --card-foreground: #1f2937;
    /* gray-800 */
    --popover: #f9fafb;
    /* gray-50 */
    --popover-foreground: #1f2937;
    /* gray-800 */
    --primary: #2563eb;
    /* blue-600 */
    --primary-foreground: #ffffff;
    /* white */
    --secondary: #f97316;
    /* orange-500 */
    --secondary-foreground: #1f2937;
    /* gray-800 */
    --muted: #f3f4f6;
    /* gray-100 */
    --muted-foreground: #4b5563;
    /* gray-600 */
    --accent: #2563eb;
    /* blue-600 */
    --accent-foreground: #ffffff;
    /* white */
    --destructive: #ef4444;
    /* red-500 */
    --destructive-foreground: #ffffff;
    /* white */
    --border: #d1d5db;
    /* gray-300 */
    --input: #d1d5db;
    /* gray-300 */
    --ring: #2563eb;
    /* blue-600 */
    --chart-1: #10b981;
    /* emerald-500 */
    --chart-2: #f97316;
    /* orange-500 */
    --chart-3: #2563eb;
    /* blue-600 */
    --chart-4: #ef4444;
    /* red-500 */
    --chart-5: #f3f4f6;
    /* gray-100 */
    --radius: 0.5rem;
  }

  .dark {
    --background: #1f2937;
    /* gray-800 */
    --foreground: #f9fafb;
    /* gray-50 */
    --card: #1f2937;
    /* gray-800 */
    --card-foreground: #f9fafb;
    /* gray-50 */
    --popover: #1f2937;
    /* gray-800 */
    --popover-foreground: #f9fafb;
    /* gray-50 */
    --primary: #2563eb;
    /* blue-600 */
    --primary-foreground: #ffffff;
    /* white */
    --secondary: #f97316;
    /* orange-500 */
    --secondary-foreground: #f9fafb;
    /* gray-50 */
    --muted: #4b5563;
    /* gray-600 */
    --muted-foreground: #f9fafb;
    /* gray-50 */
    --accent: #2563eb;
    /* blue-600 */
    --accent-foreground: #ffffff;
    /* white */
    --destructive: #ef4444;
    /* red-500 */
    --destructive-foreground: #ffffff;
    /* white */
    --border: #4b5563;
    /* gray-600 */
    --input: #4b5563;
    /* gray-600 */
    --ring: #2563eb;
    /* blue-600 */
    --chart-1: #10b981;
    /* emerald-500 */
    --chart-2: #f97316;
    /* orange-500 */
    --chart-3: #2563eb;
    /* blue-600 */
    --chart-4: #ef4444;
    /* red-500 */
    --chart-5: #4b5563;
    /* gray-600 */
    --radius: 0.5rem;
  }
}